body {
    padding: 5px 15px;
    background-color: #e4e978;
    width: 700px;
    margin: 15px 10px;
}


#like-header {
    padding: 5px 15px;
    border: 1px solid #b2ad7d;
    background-color: #f2f4c0;
    margin: 15px 10px;
}

section {
    font-style: italic;

}

.comments {
    padding: 5px 15px;
    border: 1px solid #b2ad7d;
    color: #4c7658;
    background-color: #f2f4c0;
    margin: 15px 10px;

}