{% extends 'base.html' %}
{% block container %}
{% load static %}
<h1>Recipe Details</h1>
        <div class="items-container">
            <div class="item">
                <h2>{{ recepes.title }}</h2>
                <img class="detail-img" src="{{ recepes.image_url }}" alt="recipe-image">
                <div class="time">
                    <img src="{% static '/images/clock.png' %} ">
                    <p>{{ recepes.time }}</p>
                </div>
                <h3>Ingredients</h3>
                <ul>
                    {% for ingre in  ingredoents%}
                        <li>{{ ingre }}</li>
                    {% endfor %}
                    
                </ul>
                <h3>How to prepare?</h3>
                <div class="recipe-info-full">
                    {{ recepes.description }}
                </div>
                <div class="buttons-container">
                    <a class="button edit" href="{% url 'edit recepe' recepes.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete recepe' recepes.pk %}">Delete</a>

                </div>
            </div>
        </div>

{% endblock %}