/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'); */

body {
    background-color: #f6e0b5;
    box-sizing: border-box;
    max-width: 1700px;
    margin: 20px auto;

}

.page {
    display: flex;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 30px;
    margin-right: 30px;
}

.pictures__blocks {
    border: 2px solid #66545e;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 400px;
    height: 220px;
    overflow: hidden;
    background-color: #66545e;
}

.pictures__blocks img {
    width: 420px;
    height: 180px;
}


.desc {
    color: #edede6;
    margin-left: 12px;
    margin-top: 2px;
    font-size: 20px;

}


.categories {
    width: 15%;
    color: #7c696b;

}

.categories ul{
    list-style: none;
    padding: 0;
}

.categories a {
    text-decoration: none;
    color: #7c696b;
    font-size: 1.5rem;
}

i {
    margin-right: 10px;
}