{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body>
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="{% static '/images/note.png' %} " /></li>
                    <li><a href="{% url 'home page' %}">Notes</a></li>
                    <li class="right">
                        <a href="{% url 'add note' %}">Add Note</a>
                        <a href="{% url 'profile' %}">Profile</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="body">
            <h1>Delete Note</h1>

            <!--note delete data form-->
            <div class="form">
                <form method="POST" action="{% url 'delete note' recepes.pk %}">
                    {{ form }}
                    {% csrf_token %}

                    <input type="submit" value="Delete" />
                </form>
            </div>
            <!--end note delete data form-->
        </div>

{% endblock  %}