{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="/static/images/note.png" /></li>
                    <li><a href="/">Notes</a></li>
                    <li class="right">
                        <a href="/add">Add Note</a>
                        <a href="/profile">Profile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <div class="body">
            <!--headings-->
            <h1>Your Profile</h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="note-container">
                <h2>
                    Mariya Ivanova
                    <img src="https://www.nicepng.com/png/detail/249-2492113_work-profile-user-default-female-suit-comments-default.png" />
                </h2>
                <p>Age: 28</p>
                <div>
                    <p>All notes: 2</p>
                </div>
                <div class="right">
                    <a class="button delete" href="/delete/4">Delete</a>
                </div>
            </div>
            <!--end profile details container-->
        </div>
{% endblock  %}